<div>
  <h1>
    Welcome to our interactive <b>Fair & Fornuftig</b> application!
  </h1>
<div>
 
<hr>

<div>
  <h2>
    About us
  </h2>

  <p>
    <b>Mission:</b> Our interest organization Fair & Fornuftig aims to to help Danish politicians reinvent immigration policy. Many of us foreigners have gotten into difficulties as a result of absurd rules or senseless case management. Based on our personal experiences and our mapping of the root causes, we have identified a number of inefficient aspects that should be changed by the next government.
  </p>

  <p>
    <b>Vision:</b> Our diverse array of members are united in their love of Denmark and desire to contribute to the country's prosperity. We have faced a number of challenges with obtaining full legal and democratic rights - as well as societal respect. However, we have set out to bring the immigration rules and system in line with Denmark's values, which we identify with strongly. The system has fallen out of sync with the very same values it is meant to protect. We want to fix this using broad, respectful dialogue.
  </p>

  <p>
    <b>Importance:</b> Denmark risks being perceived as a xenophobic country. These policy issues have triggered critical media coverage and raised eyebrows across the Danish population. We need a real effort to make the system fairer and more efficient. Many citizens with a foreign background are high-functioning members of society. Now it's the system's turn to function. A lack of political will - against the backdrop of a labor shortage - is irresponsible in relation to Denmark's growth, prosperity and not least its core values.
  </p>

<hr>

<div>
  <h2>
    Ways to use this app
  </h2>

<button type="button"><a href="/member_sign_up">Sign up if you are affected</a></button>

<button type="button"><a href="/policies/overview">Learn about broken policies</a></button>

<button type="button"><a href="/examples/overview">See examples from our members</a></button>

<button type="button"><a href="/politicians/overview">Find out politicians' stances</a></button>

<hr>

<div>
  <h2>
    Overview of Danish values
  </h2>

<ul>
  <li>Insert accordion of 10 Danish values</li>
  <li>Implement toast or popup of 10 injustices</li>
  <li>Include link to dynamic path for values/</li>
