<div>
  <div>
    <h1>
      Learn more about <%= @the_user.first_name %>
    </h1>
  </div>
  
  <hr>

    <div>
      <div>
        <a href="/examples/overview">
          Go back
        </a>
      </div>
    </div>
  
  <hr>
    
    <div>
      <h3>
        List of relevant policies and politicians
      </h3>
    </div>

    <dl>
      <dt>
        Policies
      </dt>
      <dd>
        <% @the_user.policies.each do |a_policy|%>
          <li><%= a_policy.description %></li>
        <% end %>
      </dd>

      <dt>
        Politicians
      </dt>
      <dd>
        <% @the_user.district.politicians.each do |a_district| %>
          <li><%= a_district.name %></li>
        <% end %>
      </dd>
