<h1>Would you like to be featured?</h1>

<hr>

<h2>New user survey</h2>

<div>
  <p>Please fill out this survey if you'd like to be featured on our page of examples!</p>
</div>

<hr>

<form>
  <label>What is your first name?</label>
  <input>

  <label>What is your last name?</label>
  <input>

  <label>What is your country of origin?</label>
  <input>
  
  <label>Are you connected to any of these industries?</label>
  <input>

  <label>Which of these Danish municipalities do you live in?</label>
  <input>

  <label>Do you give permission to share your name on our website?</label>
  <input>

  <label>Do you give permission to share your photo on our website?</label>
  <input>

  <label>Do you give permission to share your personal story on our website?</label>
  <input>

  <label>Do you give permission to share your personal story with the media?</label>
  <input>
  
  <label>In a couple of sentences, what was your personal story with Danish immigration?</label>
  <textarea></textarea>

  <label>Could you paste the URL to a photo of you?</label>
  <textarea></textarea>
  
  <button>Submit</button>
</form>
