<div>
  <h1>
    Hear from our members
  </h1>
<div>
 
<hr>

<div>
  <h2>
    Examples showcasing the issues
  </h2>
<div>

<table>
  <tr>    First & Last Name    </tr>
  <tr>    Photo     </tr>
  <tr>    Municipality    </tr>
  <tr>    Industry    </tr>
  <tr>    Personal stories    </tr>
  <tr>    Policies    </tr>
</table>

<p> Include validation for photo and story permissions!</p>

users.each do |the_user|


industry = Industry.where({ :id => the_user.industry_id }).at(0)
industry_name = industry.name

end
