<div>
  <h1>
    Learn about broken policies
  </h1>
<div>
 
<hr>

<div>
  <h2>
    Insert table with politicians (ransack!)
  </h2>
<div>

<p> Include filters by party and sentiment

<table>
  <tr>    Name    </tr>
  <tr>    Photo     </tr>
  <tr>    Sentiment   </tr>
  <tr>    District    </tr>
  <tr>    Party    </tr>
  <tr>    Details    </tr>
</table>

<p>Details page will have tables with all the policies with stances, comments to these, and examples in the district!  
