<div>
  <div>
    <h1>
      Stances for <%= @the_politician.name %>
    </h1>

<hr>

    <div>
      <div>
        <a href="/politicians/overview">
          Go back
        </a>
      </div>
    </div>

<hr>

    <dl>
      <dt>
        Policy
      </dt>
      <dd>
        <%= @the_politician.stances.description %>
      </dd>

      <dt>
        Support (5=most, 1=least)
      </dt>
      <dd>
        <%= @the_politician.name %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @the_politician.stances.comment %>
      </dd>

    