<div>
  <div>
    <h1>
      Stances for <%= @the_politician.name %>
    </h1>
  </div>

<hr>

  <div>
    <div>
      <a href="/politicians/overview">
        Go back
      </a>
    </div>
  </div>

<hr>

  <div class="">
    <dt>
      Comment(s)
    </dt>
    <dd>
      <% if @the_politician.stances != nil %>
        <% @the_politicians.stances.each do |a_policy| %>
        <%= a_policy.comment %>
      <% else %>
        Uh oh! This politician has no official comment...
      <% end %>
    </dd>
  </div>

    