<div>
  <div>
    <h1>
      Stances for <%= @the_politician.name %>
    </h1>

<hr>

    <div>
      <div>
        <a href="/politicians/overview">
          Go back
        </a>
      </div>
    </div>

<hr>

   

      <dt>
        Comment
      </dt>
      <dd>
        <% @the_politican.each do |a_stance| %>
        <%= @the_politician.stances.comment %>
        <% end %>
      </dd>

    