<div>
  <h1>
    Learn about broken policies
  </h1>
<div>
 
<hr>

<div>
  <h3>
    List of policies and impacts
  </h3>
<div>

<table id="policies">
  <tr>
    <th>
      No.
    </th>
    <th>
      Description
    </th>
    <th>
      Value
    </th>
    <th>
      Body Count
    </th>
  </tr>
 


</table>
