<div>
  <h1>
    Learn about broken policies
  </h1>
<div>
 
<hr>

<div>
  <h2>
    Insert table with the policies
  </h2>
<div>

<table>
  <tr>    Value    </tr>
  <tr>    Industry    </tr>
  <tr>    Policies     </tr>
  <tr>    Policy details   </tr>
</table>
